[submodule "Retos/RetoBlogG1"]
	path = Retos/RetoBlogG1
	url = https://github.com/acallejp97/RetoBlogG1.git
[submodule "Retos/wiki2G2"]
	path = Retos/wiki2G2
	url = https://github.com/beorn57/wiki2G2.git
[submodule "Retos/wikiG2"]
	path = Retos/wikiG2
	url = https://github.com/acallejp97/wikiG2.git
