body {
  padding: 2em;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background-color: tomato;
}

.ul {
  display: flex;
  color: transparent;
  margin-left: 70%;
}

li {
  padding: 5px;
  margin: 5px;
}

li > a:link {
  color: white;
  padding: 2.5px;
  margin: 2.5px;
  font-style: normal;
  text-decoration: none;
}

li > a:hover {
  padding: 5px;
  margin: 5px;
  font-style: normal;
  text-decoration: none;
  background-color: blue;
}

.nav {
  background-color: deepskyblue;
}

.main {
  text-align: left;
  background-color: grey;
}

.section {
  background-color: gold;
}

.aside {
  background-color: hotpink;
}

.footer {
  background-color: lightgreen;
}
