* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
}

nav,
footer,
header {
  border-radius: 5px;
  color: white;
  font-size: 3.125em;
  line-height: 50px;
  margin: 5px auto;
  min-height: 50px;
  min-width: 80%;
  text-align: center;
}

header,
footer {
  background-color: red;
}

nav {
  background-color: skyblue;
  font-size: 50px;
}

div #contenido {
  border-radius: 5px;
  margin: 5px auto;
  min-height: 300px;
  min-width: 80%;
}

article,
section {
  border-radius: 5px;
  color: white;
  line-height: 50px;
  text-align: center;

}

article {
  background-color: gray;
  font-size: 1.875em;
  display: inline-block;
  min-height: 300px;
  min-width: 64%;
  vertical-align: top;
}

section {
  background-color: cadetblue;
  margin: auto;
  font-size: 1.875rem;
  min-height: 200px;
  min-width: 90%;
}

aside {
  background-color: peru;
  border-radius: 5px;
  color: white;
  display: inline-block;
  font-size: 1.25em;
  line-height: 150px;
  min-height: 300px;
  min-width: 34%;
  text-align: center;
  vertical-align: top;
}
